కెరీర్ గొప్ప ఉంది, కానీ మీరు దాని జుట్టు ద్వారా మీ వేళ్లు అమలు కాదు.
		-- Pat Benatar, "Hell is for Children"

%
ఒక ముద్దు ప్రక్రియ యొక్క ఒక కోర్సు ఉంది, cunningly పరస్పర కోసం, కనిపెట్టారుఒక సమయంలో ప్రసంగం ముగిసే పదాలు నిరుపయోగంగా ఉన్నప్పుడు.
		-- Pat Benatar, "Hell is for Children"

%
ఒక మహిళ పద్నాలుగు సైనికులు ప్రేమలో పడ్డాను. ఇది స్పష్టంగా platoonic ఉంది.
		-- Pat Benatar, "Hell is for Children"

%
లేకపోవటం మధ్యస్థమైన కోరికలు తుడిచేసి గొప్పవారు పెంచుతుంది,గాలి కొవ్వొత్తులను మరియు అభిమానులు మంటలు అవుట్ దెబ్బలు.
		-- La Rochefoucauld

%
ప్రేమలో లేకపోవడంతో అగ్ని మీద నీరు వంటిది; కొద్దిగా వేగవంతం, కానీ చాలాఇది నశిపచేసుకుంటాడు.
		-- Hannah More

%
అన్ని కోరికలు మాకు లోపాలుగా కమిట్ తయారు; ప్రేమ మాకోసం కమిట్ చేస్తుందిహాస్యాస్పదంగా వాటిని.
		-- La Rochefoucauld

%
ఎల్లప్పుడూ మన హృదయ భాగాలు ఎవరూ ఎంటర్ చెయ్యగలరు ఇది అక్కడ ఉండటానికి,మేము వాటిని ఆహ్వానిస్తున్నాము.
		-- La Rochefoucauld

%
బాండేజ్ ఉండవచ్చు, క్రమశిక్షణ ఎప్పుడూ!
		-- T.K.

%
అపనమ్మకం చాలా చాలా కొంచెం పరిచయము మీద మీకు వారందరికీమరియు ఏ కనిపించే కారణం లేకుండా.
		-- Lord Chesterfield

%
నిరాశ లేదు; మీ ఆదర్శ ప్రేమికుడు మూలలో చుట్టూ మీరు కోసం వేచి ఉంది.
		-- Lord Chesterfield

%
ప్రేమ లో పడటంఇద్దరు వ్యక్తులు తగినంత తేదీలలో చేసుకున్నాను, వారు సాధారణంగా వస్తాయిప్రేమ. మీరు భావిస్తే ద్వారా ప్రేమలో ఉన్నాము తెలియజేస్తుంది: మీ తల అవుతుందికాంతి, మీ గుండె మీరు లోపల దుముకుతుంది, మీరు గాలి న వాకింగ్ చేస్తున్నారు భావిస్తాను,మరియు మొత్తం ప్రపంచ ఒక అద్భుతమైన మరియు సంతోషంగా స్థానంలో వంటి తెలుస్తోంది. దురదృష్టవశాత్తు,ఈ కూడా పెద్దప్రేగు వ్యాధి నాలుగు హెచ్చరిక చిహ్నాలు, కాబట్టి ఇది ఎల్లప్పుడూ ఒక వార్తలుమీ డాక్టర్ తో తనిఖీ మంచి ఆలోచన.
		-- Dave Barry

%
ప్రేమ లో పడిపోవడం మరణిస్తున్న వంటి చాలా ఉంది. మీరు తగినంత దీన్ని ఎన్నటికీఅది వద్ద మంచి మారింది.
		-- Dave Barry

%
25 పదాలు లేదా తక్కువ క్రింద వాక్యం పూర్తి:"లవ్ మీరు ఒక మంచి ఎవరైనా ఇవ్వాలని ముందు మీరు కేవలం భావిస్తున్నాను ఏమిటి ..."మీ సూపర్వైజర్ సగానికి పాటు మీ సమాధానం మెయిల్:పి.ఒ. బాక్స్ 35అడ్డుపడిన గ్రీక్, మిచిగాన్
		-- Dave Barry

%
నాకు పవిత్రత మరియు నిగ్రహ ఇవ్వండి, కానీ ఇప్పుడే కాదు.
		-- St. Augustine

%
దేవుని ప్రేమ, కానీ అది రాయడం లో పొందండి.
		-- Gypsy Rose Lee

%
"ఆయన, నిర్ణయించుకుంటారు లేదు, ఎక్కువ సమయం మరియు మానసిక యొక్క ఒక గొప్ప ఒప్పందానికి ఆకృషి, అతను బహుశా ఒక ఆమోదయోగ్యమైన వక్రబుద్ధి లోకి సూచించే మలుపు కాలేదు. "
		-- Mick Farren, "When Gravity Fails"

%
తాను ప్రేమించిన అతను కనీసం ఈ ప్రయోజనం ఉంటుంది - అతను రెడీఅనేక ప్రత్యర్థులు పోటీపడుతున్నారు.
		-- Georg Lichtenberg, "Aphorisms"

%
వారు అన్బ్రేకబుల్ తయారు చేయవచ్చు వరకు హార్ట్స్ ఎప్పుడూ ఆచరణ ఉంటుంది.
		-- The Wizard of Oz

%
KIDS హే! ANN LANDERS సేస్:మీరు చెప్పినప్పుడు మీరు "నేను నిన్ను ప్రేమిస్తున్నాను" అది నిజం నిర్ధారించుకోండి. అది పాపపరిహారార్థమైన వార్తలు	ఒక అబద్ధం చెప్పు. హృదయాలను మిలియన్ల తెగిపోయింది కనుకఈ మాటలు చెప్పి చేశారు.
		-- The Wizard of Oz

%
అతని గుండె మీరు కలుసుకున్నారు మొదటి క్షణం నుండి మీదే ఉంది.
		-- The Wizard of Oz

%
ఆమె మీరు ఎంత ప్రేమ లేదు? మీరు ఎప్పుడైనా తెలుసు ఉంటాం కంటే తక్కువ.
		-- The Wizard of Oz

%
నేను, నాకు తెలిసిన, రెండు ఫూల్స్ am loving, మరియు కాబట్టి మాట్లాడుతూ కోసం.
		-- John Donne

%
నేను రోజు విరామం చక్కదిద్దుకునేందుకు ఒక విరిగిన గుండె నయం, మరియు తాత్కాలిక అందిస్తుందిnymphomaniacs ఉపశమనం.
		-- Larry Lee

%
నేను నన్ను ప్రేమగా వద్దు. ఇది విధులకు చేస్తుంది.
		-- Jean Anouilh

%
నేను మీరు ఈ ప్రపంచంలో అన్నింటికన్నా ప్రేమ. నేను సాగుతుంది ఆశించకండి.
		-- Elvis Costello

%
నేను నిన్ను ప్రేమిస్తున్నాను మాత్రమే మీరు ఏమి, కానీ నేను మీతో ఉన్నప్పుడు నేను ఏమి కోసం.
		-- Roy Croft

%
నేను ఒక ప్రేమ ఆశ మరియు తెగించిన ఆమె ప్రియమైన. మనం రెండు కమిట్ భావించినదిప్రపంచ చూడాలనే, అది ఎదురులేని గుర్తించిన కొన్ని చర్య కాబట్టి దారుణమైన.
		-- Gene Wolfe, "The Shadow of the Torturer"

%
నేను మరొక వ్యక్తి నేను ప్రేమించిన మార్గం ప్రియమైన ఎప్పుడూ.
		-- Mae West

%
నేను సంబంధం ఒక షార్క్ వంటి భావిస్తున్నాను. ఇది నిరంతరం ముందుకు తరలించడానికి ఉందిలేదా అది మరణిస్తుంది. బాగా, మేము మా చేతుల్లో ఇక్కడ ఒక డెడ్ సొరచేప ఉంది.
		-- Woody Allen

%
నేను స్నో వైట్ ఉపయోగపడేది, కానీ నేను మళ్ళింది.
		-- Mae West

%
నేను ఒక సుప్రీం శృంగార ప్రేమ ఒక మనోవ్యాకులత పంచుకుంటాయి అనుకుంటున్నాను ఉపయోగిస్తారు రెండు,అవివేకము. నేను ఇకపై భావించారు. అక్కడ మూర్ఖత్వమే ఏమీ వార్తలుఎవరైనా loving. మీరు తిరిగి ప్రేమించాలని చేస్తాము థింకింగ్ మూర్ఖత్వమే ఏమిటి.
		-- Rita Mae Brown

%
"నేను మీతో బయటకు వెళ్ళడానికి ఇష్టం, కానీ నేను నా సొంత చేసియున్నారు మరియు ఇప్పుడు నేను పొందానుఇది దిద్దుబాటు రద్దుచెయ్యి. "
		-- Rita Mae Brown

%
"నేను మీతో బయటకు వెళ్ళడానికి ఇష్టం, కానీ నేను నా పిల్లి ముడిపెట్టు ఉంటుంది."
		-- Rita Mae Brown

%
"నేను మీతో బయటకు వెళ్ళడానికి ఇష్టం, కానీ నేను ఇంటికి ఉండడానికి మరియు నేను గురక ఉంటే చూడటానికి కలిగి."
		-- Rita Mae Brown

%
"నేను మీతో బయటకు వెళ్ళడానికి ఇష్టం, కానీ నేను` వై ముగించడానికి ఆ రోజులలో బయటకు వెళ్ళి ఎప్పుడూ ' "
		-- Rita Mae Brown

%
"నేను మీతో బయటకు వెళ్ళడానికి ఇష్టం, కానీ నేను నా బ్లెండర్ తో ఎక్కువ సమయం ఖర్చు అనుకుంటున్నారా."
		-- Rita Mae Brown

%
"నేను మీతో బయటకు వెళ్ళడానికి ఇష్టం, కానీ నేను నా గ్యారేజ్ డోర్ ప్రారంభ హాజరు చేస్తున్నాను."
		-- Rita Mae Brown

%
"నేను మీతో బయటకు వెళ్ళడానికి ఇష్టం, కానీ నేను నా క్యాలెండర్ వాచ్ మార్చే వెబ్గ్రెగోరియన్ జూలియన్. "
		-- Rita Mae Brown

%
"నేను మీతో బయటకు వెళ్ళడానికి ఇష్టం, కానీ నేను స్టాటిక్ సేకరించడం టు డోర్ డోర్ చేస్తున్నదాన్నివేళ్ళాడతాయి."
		-- Rita Mae Brown

%
"నేను మీతో బయటకు వెళ్ళడానికి ఇష్టం, కానీ నేను నా మొక్కలు రూపుమాపాడు కలిగి చేస్తున్నాను."
		-- Rita Mae Brown

%
"నేను మీతో బయటకు వెళ్ళడానికి ఇష్టం, కానీ నేను పని ఇంటి ఉంటున్న వెబ్ నాకాటేజ్ చీజ్ శిల్పం. "
		-- Rita Mae Brown

%
"నేను మీతో బయటకు వెళ్ళడానికి ఇష్టం, కానీ నేను పంక్ టొటెంపోల్ చెక్కడానికి తీసుకొని చేస్తున్నాను."
		-- Rita Mae Brown

%
"నేను మీతో బయటకు వెళ్ళడానికి ఇష్టం, కానీ నేను ఒక కర్మ మార్పిడి కావాల్సి చేసిన."
		-- Rita Mae Brown

%
"నేను మీతో బయటకు వెళ్ళడానికి ఇష్టం, కానీ అది నా చిలక బౌలింగ్లో రాత్రి."
		-- Rita Mae Brown

%
"నేను మీతో బయటకు వెళ్ళడానికి ఇష్టం, కానీ నా ఇష్టమైన వ్యాపార TV లో ఉంది."
		-- Rita Mae Brown

%
"నేను మీతో బయటకు వెళ్ళడానికి ఇష్టం, కానీ చివరిసారి నేను బయటకు వెళ్లి, నేను తిరిగి వచ్చి ఎప్పుడూ."
		-- Rita Mae Brown

%
"నేను మీతో బయటకు వెళ్ళడానికి ఇష్టం, కానీ టెలివిజన్లో మనిషి నాకు ట్యూన్ ఉండాలని చెప్పారు."
		-- Rita Mae Brown

%
"నేను మీతో బయటకు వెళ్ళడానికి ఇష్టం, కానీ ముఖ్యమైన ప్రపంచ సమస్యలు ఉన్నాయిగురించి చింతిస్తూ అవసరం. "
		-- Rita Mae Brown

%
నేను మీరు ముద్దు ఇష్టం, కానీ నేను నా జుట్టు వాష్.
		-- Bette Davis, "Cabin in the Cotton"

%
"నేను, నాకు తెలుసు ఏమి మీరు చెప్పండి చేస్తాము," అతను నిర్ణయించుకుంది. "నేను వేసుకున్న నేను పిన్నేను IA సభ్యుడు ఉన్నాను అంటే. ఆ Inamorati అనామక వార్తలు. ఒక ప్రియుడు ఉందిప్రేమ లో ఎవరైనా. అన్ని చెత్త వ్యసనం కాదు. ""సమ్బడి ప్రేమలో గురించి," Oedipa, "మీతో కూర్చుని వెళ్లిపోవాటిని, లేదా ఏదో? ""రైట్. మొత్తం ఆలోచన మీరు అది అవసరం లేదు పేరు పొందడానికి ఉంది. నేనుఅదృష్ట. నేను యువ తన్నాడు. కానీ అరవై ఏళ్ల మనుషులు ఉన్నారు, అది నమ్మకం లేదా, మరియు మహిళలు కూడా పాత, ఎవరు గట్టిగా రాత్రి మేల్కొలపడానికి ఉండవచ్చు. ""మీరు సమావేశాలు, అప్పుడు, AA వంటి పట్టుకోండి?""నో, కోర్సు యొక్క లేదు. మీరు ఒక ఫోన్ నంబర్, ఒక ఆన్సరింగ్ సేవ పొందుటకుమీరు కాల్ చేయవచ్చు. ఎవరూ ఎవరైనా else యొక్క పేరు తెలుసు; సందర్భంలో కేవలం సంఖ్యమీరు ఒంటరిగా అది నిర్వహించలేని కాబట్టి చెడు గెట్స్. మేము వేరుచేయబడిన ఉన్నాము, ఆర్నాల్డ్. సమావేశాలుఅది మొత్తం పాయింట్ నాశనం చేస్తాను. "
		-- Thomas Pynchon, "The Crying of Lot 49"

%
ప్రేమ సమాధానం ఉంటే, మీరు ప్రశ్న rephrase కాలేదు?
		-- Lily Tomlin

%
లవ్ ఆయిల్ వర్ ఉంటే, నేను ఒక క్వార్ట్ తక్కువగానే అంటాను
		-- Book title by Lewis Grizzard

%
ఆమె మీరు ప్రియమైన మాత్రమే మీరు తెలుసు, అనిశ్చితి ఎదురుకోవాలిమీరు ఆమె ప్రేమ అనే.
		-- Book title by Lewis Grizzard

%
మీరు మంచి ఉండకూడదు ఉంటే, జాగ్రత్తగా ఉండండి. మీరు జాగ్రత్తగా ఉండకూడదు ఉంటే, నాకు ఒక కాల్ ఇవ్వాలని.
		-- Book title by Lewis Grizzard

%
మీరు ఎవరైనా ప్రేమ ఉంటే, వాటిని ఉచిత సెట్.వారు తిరిగి వచ్చి లేకపోతే, మీరు తాగిన ఉన్నప్పుడు వాటిని అప్ కాల్.
		-- Book title by Lewis Grizzard

%
ఒక శృంగారానికి, ప్రతి వ్యక్తి ప్రాథమికంగా ఒక భాగంలో నటించేఇతర నిజంగా ఇష్టపడ్డారు.
		-- Elizabeth Ashley

%
ఒక యుగం లో ఉన్నప్పుడు ఫ్యాషన్ ఒప్పుకొనుచు మీరే ప్రేమలో ఉందిమరొకరిని ప్రేమలో ఒకరి వరకు విశ్వాసం లేని ఒప్పుకోవడం ఉందిప్రియమైన.
		-- Russell Baker

%
ప్రేమ, ఆమె తన చిత్రం అసలు హామీ ఇస్తుంది.
		-- Bruton

%
నిజమైన ప్రేమ లో మీరు ఇతర వ్యక్తి యొక్క మంచి కావలసిన. శృంగార ప్రేమ లో మీరుఇతర వ్యక్తి మీరు.
		-- Margaret Anderson

%
ఇది మేము ప్రేమ ఆ ద్వారా undeceived కన్నా మోసగించబడతారనే చాలా బాగా ఉంటుంది.
		-- Margaret Anderson

%
ఎంత కష్టం అది జీవిత చరిత్ర రాయడానికి ఉంది ఎవరైనా లెక్కలో చేయవచ్చుఎవరు డౌన్ కూర్చుని మరియు అనేక మంది నిజమైన నిజం తెలుసు ఎంత భావించిందిఅతని లేదా ఆమె ప్రేమ వ్యవహారాల గురించి.
		-- Rebecca West

%
మాకు నివసిస్తున్నారు లెట్ !!!మాకు ప్రేమ లెట్ !!!మా ఆత్మలు లోతైన రహస్యాలు భాగస్వామ్యం లెట్ !!!ముందు నువ్వు.
		-- Rebecca West

%
యొక్క కేవలం స్నేహితులు మరియు ఎప్పుడైనా మళ్ళీ ఒకరినొకరు ఏ ప్రత్యేక ప్రయత్నం చేద్దాం.
		-- Rebecca West

%
ఒకరి సంభాషించడానికి ప్రయత్నిస్తున్న మా సంబంధం క్లిష్టతరం లేదు లెట్.
		-- Rebecca West

%
లోన్లీ ప్రేమ లేకుండా మనిషి.
		-- Englebert Humperdinck

%
లవ్ - చిన్ననాటి తీవ్రమైన వ్యాధులు చివరి.
		-- Englebert Humperdinck

%
లవ్ మరియు కుంభకోణం టీ యొక్క ఉత్తమ స్వీటెనర్లను ఉన్నాయి.
		-- Englebert Humperdinck

%
మొదటి చూపులో ప్రేమలో గొప్ప కార్మిక ఆదా పరికరాల్లో ఒకటి ఉందిప్రపంచం చూసింది.
		-- Englebert Humperdinck

%
లవ్ హత్య కోసం కామం కంటే తక్కువ వయస్సు ఉండకూడదు.
		-- Sigmund Freud

%
లవ్ అన్ని విషయాలు జయిస్తుంది; మాకు చాలా ప్రేమ అప్పగించాలని వీలు.
		-- Publius Vergilius Maro (Virgil)

%
లవ్ ఒక సమాధి మానసిక వ్యాధి.
		-- Plato

%
లవ్ హఠాత్తుగా ఎగరవేసిన ప్రతిసారి ఇది టండ్రా మీదుగా ఒక స్నోమొబైల్ రేసింగ్ ఉందిపైగా, కింద మీరు అణిచి. రాత్రి సమయంలో మంచు వేసల్ వస్తాయి.
		-- Matt Groening, "Love is Hell"

%
లవ్ ఎల్లప్పుడూ ఓపెన్ చేతులు ఉంది. చేతులు మీరు రాబోయే ప్రేమ అనుమతిస్తుంది తెరవడానికి మరియుఅది ఏమైనప్పటికీ చేస్తాను కోసం, స్వేచ్ఛగా, విల్ల్ వెళ్లిపోవచ్చు. మీరు దగ్గరగా ఉంటే మీగురించి చేతులు మీరు మాత్రమే మీ పట్టుకొని మిగిల్చాయి పొందుతారు ప్రేమ.
		-- Matt Groening, "Love is Hell"

%
లవ్ కలిసి స్టుపిడ్ ఉంది.
		-- Paul Valery

%
లవ్ డోప్, చికెన్ సూప్. నా ఉద్దేశ్యం, ప్రేమ జారీ చేయడానికి విషయంఉచితంగా చుట్టూ డౌన్ ద్వారా వారి సొంత మంచి కోసం ఒకరి గొంతు spooned కాదుఆమె అది వండిన యూదు తల్లి.
		-- Paul Valery

%
లవ్ ఒడ్డు నుంచి దూరంగా ఉండే స్థలం లో ఉంది.
		-- The Homicidal Maniac

%
లవ్ నిప్పు చిక్కుకున్న స్నేహం వంటిది. ప్రారంభంలో ఒక జ్వాల, చాలాఅందంగా తరచుగా వేడి మరియు భయంకరమైన, కానీ ఇప్పటికీ కాంతి మరియు మినుకుమినుకుమనే. ప్రేమికుడుగామా హృదయాలలో పరిపక్వత పాత పెరుగుతుంది మరియు మా ప్రేమ బొగ్గుపై, లోతైన తగులబెట్టడం అవుతుందిమరియు ఆరని.
		-- Bruce Lee

%
లవ్ తట్టు లాంటిది; మేము అన్ని అది ద్వారా వెళ్ళడానికి కలిగి.
		-- Jerome K. Jerome

%
లవ్ ఎందుకు అడుగుతున్నారు ఎప్పుడూ?
		-- Jerome K. Jerome

%
లవ్ సరిపోదు, కానీ అది ఖచ్చితంగా సహాయపడుతుంది.
		-- Jerome K. Jerome

%
లవ్ సెంటిమెంట్ తట్టు ఉంది.
		-- Jerome K. Jerome

%
లవ్ ఒక అనారోగ్య శిశువుగా, లేదా ఒక ఆరోగ్యకరమైన కౌమారదశ తో రాత్రంతా మేల్కొని ఉంటున్న ఉంది.
		-- Jerome K. Jerome

%
లవ్ చీకటి ఖాతాలో అని లేదు మాత్రమే గేమ్.
		-- M. Hirschfield

%
లవ్ మీరు శాంతముగా తిరిగి మీరే దారితీసింది నా ప్రక్రియ.
		-- Saint Exupery

%
లవ్ నిఘా పైగా ఊహ విజయం ఉంది.
		-- H. L. Mencken

%
లవ్ మాలిక ఏమిటి.
		-- H. L. Mencken

%
లవ్ మీరు ఎవరైనా ద్వారా ఉన్నాను ఏమిటి.
		-- James Thurber

%
లవ్ అది కూడా, చెవిటి మూగ, మరియు స్టుపిడ్, మాత్రమే గుడ్డిది.
		-- James Thurber

%
మీరు ప్రతి ఐదు నిమిషాల సారీ చెప్పడానికి అంటే ప్రేమ.
		-- James Thurber

%
ప్రేమ అంటే మీరు క్షమించండి చెప్పటానికి కలిగి ఎప్పుడూ.ఆ నేను ఇప్పటివరకు విన్న చేసిన అత్యంత పరిహాసాస్పదం విషయం.
		-- Ryan O'Neill, "What's Up Doc?"

%
లవ్ మాకు కాబట్టి లేని అనేక విషయాలు చెబుతుంది.
		-- Krainian Proverb

%
మీరు కౌగిలింత అవసరం ఉన్నప్పుడు మీ SO ఎల్లప్పుడూ తెలిసి ఉండవచ్చు.
		-- Krainian Proverb

%
"బహుశా మేము ఒక పరిపూర్ణ వారం ఈ భావించాలని ... మేము ప్రతి దొరకలేదు పేరుఇతర, మరియు ప్రతి ఇతర ప్రియమైన ... ఆపై ప్రతి ఇతర ఎవరైనా ముందు వీడలేదుప్రొఫెషనల్ సహాయం కోరుకుంటారు వచ్చింది. "
		-- Krainian Proverb

%
చాలా మంది చాలా దాదాపు వారు అవసరం ప్రేమ ఒక గొప్ప ఒప్పందానికి అవసరం లేదుఒక స్థిరమైన సరఫరా.
		-- Krainian Proverb

%
నా కప్పు ప్రేమతో పైగా runneth'd యున్నాడు.
		-- Krainian Proverb

%
ఘనీభవించిన ఆస్తి - ప్రకృతి ఒక కన్నె అంటే తనకు అసహ్యమని.
		-- Clare Booth Luce

%
ఆబెరోన్ చెప్పారు, ప్రశాంతత వుడ్స్ "లేదు, నేను ఇప్పుడు అర్థం" - ఆ ప్రకారమాయెనుసాధారణ, నిజంగా. "నేను, కాదు చాలా కాలం, కానీ నేను ఇప్పుడు ఏమి. మీరు కేవలం కాదుప్రజలు కలిగి, మీరు వాటిని స్వంతం కాదు. నేను మాత్రమే సహజ, ఒక సహజ ప్రక్రియ అర్థంనిజంగా. మీట్. లవ్. భాగము. లైఫ్ గోస్. ఏ కారణం ఎప్పుడూఆమె ఎల్లప్పుడూ అదే ఉండడానికి ఆశించే - నేను `అర్థం ప్రేమలో, 'మీరు తెలుసు" ఉన్నాయి.స్మోకీ యొక్క ఆ సందేహం కోట్లు, భారీగా సూచించింది. "నేను పగ పట్టి లేదు. నేనుకాదు. ""మీరు," తాత ట్రౌట్ చెప్పారు. "మరియు మీరు అర్థం లేదు."
		-- Little, Big, "John Crowley"

%
జాగ్రత్త అన్ని రకాల ప్రేమలో జాగ్రత్త అత్యంత ప్రమాదకరమైనది.
		-- Little, Big, "John Crowley"

%
కోర్సు యొక్క మీరు చాలా బాగా తెలిసిన లేకపోతే మానవుడు ప్రేమ సాధ్యం.
		-- Charles Bukowski

%
ఓహ్, ప్రేమ ఏదో ఒకరోజు దానిని కనుగొనేందుకు ఉంటుంది, తగినంత నిజ, అయితే ఇది ఒకటివంపు-శత్రువు - మరియు ఆ జీవితం.
		-- Jean Anouilh, "Ardele"

%
ఒక tous అన్ peu న భయము డి ఎల్ రహస్య ప్రణయ సంబంధము, mais ఒక surtout భయము డి souffrirou డి ఫెయిర్ souffrir.[వన్ ఎల్లప్పుడూ ప్రేమ కొద్దిగా భయపడ్డారు ఉంది, కానీ అన్ని పైన, ఒకటినొప్పి లేదా నొప్పిని కలిగించే భయపడ్డారు.]
		-- Jean Anouilh, "Ardele"

%
పరిపూర్ణత ఒకసారి అంగీకరించిన అని కూడా సమీప మానవులలో వ్యక్తుల మధ్యఅనంతం దూరాలు ఇప్పటికీ కొనసాగుతున్నాయి, ప్రక్క ఒక అద్భుతమైన దేశం వైపు చెయ్యవచ్చుఇది చేస్తుంది వాటి మధ్య దూరం loving వారు విజయవంతం ఉంటే, అప్ పెరుగుతాయిప్రతి సాధ్యం ఆకాశంలో వ్యతిరేకంగా ప్రతి ఇతర మొత్తం చూడటానికి.
		-- Rainer Rilke

%
వన్ బాగా అతను కలగదు ప్రేమిస్తున్నాని చెబుతుంది.
		-- J. A. Karr

%
ప్రేమలో ప్రజలు ఒక భావోద్వేగం అనుకుంటాను. లవ్ మంచి భావం.
		-- Ken Kesey

%
రియల్లీ ?? ఏం ఏకకాల, నేను చాలా లోతు ఉన్నాను !!
		-- Ken Kesey

%
కొన్నిసార్లు మీరు కనీసం అది భావిస్తున్నట్లు, లవ్ భుజం మీద మీరు ట్యాప్ ఉంటుంది ...మరియు అది ఇప్పటికీ మీ వంతు కాదు ఎందుకంటే మార్గం యొక్క బయట అడుగుతాము.
		-- N. V. Plyter

%
కొన్నిసార్లు ప్రేమ రెండు ఫూల్స్ మధ్య అపార్ధం కానీ ఏమీ కాదు.
		-- N. V. Plyter

%
క్షమించాలి ప్రేమ మీ సే అంటే ఎప్పుడూ.
		-- N. V. Plyter

%
, తరచుగా ఈ మరింత పునరావృతమవుతుంది ఒక సమస్య ప్రేమ మాట్లాడుతూరోజులు, పుస్తకాలు మరియు నాటకాలు మరియు సినిమాలు, సంభాషించడానికి ప్రజల అసమర్థత ఉందిప్రజలతో వారు ప్రేమ; భర్తలు మరియు కమ్యూనికేట్ కాదు ఎవరు పెళ్ళాం, పిల్లలుఅందువలన న వారి తల్లిదండ్రులు కమ్యూనికేట్, మరియు కాదు. మరియు పాత్రలుఈ పుస్తకాలు మరియు నాటకాలు మరియు అందువలన న (మరియు నిజ జీవితంలో, నేను జోడించండి ఉండవచ్చు) గంటల ఖర్చువారు కమ్యూనికేట్ కాదు వాస్తవం bemoaning. నేను ఆ ఒక వ్యక్తి కాదు అనుభూతికమ్యూనికేట్ అతను చేయవచ్చు చాలా _____ కనీసం నోర్మూసుకుని ఉంది!
		-- Tom Lehrer, "That Was the Year that Was"

%
మద్దతు వన్యప్రాణి - ఒక నాట్యం కోసం ఓటు.
		-- Tom Lehrer, "That Was the Year that Was"

%
మేము ఒంటరిగా ప్రేమించే నమ్మకం ఉన్నప్పుడు అంటే ప్రేమ యొక్క నిజమైన సీజన్,ఎవరూ మాకు ముందు ప్రియమైన అని, మరియు ఎవరూ ప్రేమ అనిమాకు అదే విధంగా.
		-- Johann Wolfgang von Goethe

%
మీరు కోసం జీవితంలో, McDunn చెప్పారు. మరొకరు ఎప్పుడూ ఒకరి కోసం వేచి ఎవరుఇంటికి వస్తుంది ఎప్పుడూ. ఎల్లప్పుడూ విషయం కన్నా ఏదో loving ఎవరైనా ఇష్టపడతారువాటిని. మరియు కొంతకాలానికి తర్వాత మీరు ఆ విషయం ఉండే వస్తువు నాశనం కావాలి, కాబట్టి ఇదిఇక మీరు బాధించింది కాదు.
		-- R. Bradbury, "The Fog Horn"

%
పక్షులు పూలు జూనియర్ ఉంటాయి, గానం, మరియు అది సమయం ఉందిమిస్ మానర్స్ బహిరంగంగా మెడలు రుద్దు కొనుట ఆపడానికి యువ ప్రేమికులు చెప్పడం.ఇది మిస్ మానర్స్ శృంగారం రోగనిరోధక అని కాదు. మిస్ మానర్స్పైగా సహాయపడింది ఉన్నప్పటికీ పెద్దమనుషుల చేయి దూరి ప్రతీతిఒక వ్యతిరేకంగా ఒక అందంగా స్లిప్పర్ నొక్కండి అరికట్టేందుకు, మరియు ఆమె అడవి యవ్వనంలో,అడుగు లేదా విందు పట్టిక కింద రెండు. మిస్ మానర్స్ కూడా అభిప్రాయపడ్డాడుచేతిలో చేయి లేదా భుజం లో చేయి లేదా భుజం చేతి strolling జనులయెదుటఒక నగరం మరింత చేరువైన దృష్టి కాకుండా ఎక్కువ దుస్తులు పైకిప్రజలు మరొక వద్ద గొడుగులు వణుకు. ఏం మిస్ మానర్స్ వస్తువులువీధిలో గుర్రాలు భయం వేస్తుంది కార్యచరణ రకం ...
		-- R. Bradbury, "The Fog Horn"

%
జిరాఫీ మీరు బాధపడ్డ గత వారం ఈనాడు nuzzled వుంటుంది కోరుకుంటాడు ఆలోచన.
		-- R. Bradbury, "The Fog Horn"

%
గుండె కారణం ఏమీ తెలియదు దాని కారణాలు ఉన్నాయి.
		-- Blaise Pascal

%
హృదయ తెలివి కంటే తెలివైనవని ఉంది.
		-- Blaise Pascal

%
నా జీవితంలో చిన్న చిన్న ముక్కలుగా నేను మీకు ఒక మెత్తని బొంత చేయడానికి, ప్రేమ తో, ఇవ్వాలనిచల్లని దూరంగా ఉంచాలని.
		-- Blaise Pascal

%
మా మొదటి ప్రేమ మేజిక్ ఇది అంతం చేసే మా అజ్ఞానం.
		-- Benjamin Disraeli

%
శృంగార ప్రేమ పురాణం ఉంచుతున్నారు మీరు ప్రేమలో పడిపోయిన చేసిన తర్వాతపరిపూర్ణ భాగస్వామి, మీరు ఇంటి ఉచిత ఉన్నారు. దురదృష్టవశాత్తు, ప్రేమ బయటకు పడిపోవడంఇది పడే అంతే అసంకల్పిత ఉన్నట్టుగా.
		-- Benjamin Disraeli

%
గత కొన్ని వేల సంవత్సరాలుగా ప్రేమ ఆట మాత్రమే తేడావారు వజ్రాలు క్లబ్బులు నుండి trumps మార్చారు ఉంది.
		-- The Indianapolis Star

%
ఆరంభం మరియు ప్రేమ బలహీనంగా తాము అశాంతి లో భావించాడు తయారుకలిసి ఒంటరిగా ఉండటం వద్ద అనుభవించవచ్చు.
		-- Jean de la Bruyere

%
పరిపూర్ణ ప్రేమికుడు 4:00 గంటలకు ఒక పిజ్జా మారుతుంది ఒకటి
		-- Charles Pierce

%
మీరు అవును చెప్పుకోవాలంటే మీరు నిన్న తిరస్కరించింది వ్యక్తి, మీరు సంతోషంగా చేస్తాయి.
		-- Charles Pierce

%
ఏడు సంవత్సరాల దురద, నాల్గవ, ఐదవ సమయంలో చుట్టూ వెర్రినడక నుండి వస్తుందిమరియు ఆరవ సంవత్సరాల.
		-- Charles Pierce

%
సీతాకోకచిలుక కథ:"నేను బొగటా మరియు ఒక మహిళ స్నేహితుడు కోసం వేచి ఉంది. నేను ప్రేమలో పడ్డాను,చాలా కాలం క్రితం. నేను మూడు రోజులు వేచి. నేను ఆకలితో కానీ వెళ్ళలేరుఆహార కోసం, ఆమె వచ్చి భయంవలన నేను ఆమె అభినందించారు ఉండదు. అప్పుడు,మూడవరోజు నేను కొట్టిన విన్నారు. ""నేను సూర్యకాంతి లో పాత గడిచే పాటు hurried మరియు అక్కడ,అక్కడ ఏమి లేదు.""జస్ట్," వన్స్ జాయ్, "ఒక సీతాకోకచిలుక, ఎగిరిపోవటం." అన్నారు
		-- Peter Carey, BLISS

%
తియ్యగా ఆపిల్, పరికరాలు కోర్ -ఒక ప్రేమికుడు గీతలు మరియు ఒక శత్రువు కనుగొనేందుకు!
		-- Dorothy Parker, "Ballad of a Great Weariness"

%
ఏదైనా ప్రేమ మార్గంలో అది కోల్పోయిన ఉండవచ్చు అని తెలుసుకోవటం ఉంది.
		-- Dorothy Parker, "Ballad of a Great Weariness"

%
రెండు మొక్కల లక్షణాలు ప్రదర్శిస్తాయి కొన్ని సూక్ష్మజీవుల ఉన్నాయిమరియు జంతువులు. కాంతి గురైనప్పుడు అవి కిరణజన్య చేయించుకోవాలని; మరి ఎప్పుడూలైట్లు బయటకు వెళ్ళి, వారు జంతువులు మారిపోతాయి. కానీ అప్పుడు మళ్ళీ, మేము అన్ని లేదు?
		-- Dorothy Parker, "Ballad of a Great Weariness"

%
ప్రేమలో భయముండదు; పరిపూర్ణ ప్రేమ భయం అవ్ట్ అచ్చులు.
		-- 1 John 4:18

%
ఎవరూ కలిగి - గుండె ద్వారా ఆనందంగా ఉండాలని మీరు ఒకే ఒక మార్గం ఉంది.
		-- Paul Bourget

%
చెప్పాల్సింది చాలా ఉంది కాని మీ కళ్ళు నన్ను భంగం ఉంచండి.
		-- Paul Bourget

%
టైమింగ్ ఇప్పుడు పరిపూర్ణ ఉండాలి. రెండు టైమింగ్ ఖచ్చితంగా కంటే మెరుగైన ఉండాలి.
		-- Paul Bourget

%
ప్రేమించాలని చాలా demoralizing ఉంది.
		-- Katharine Hepburn

%
ప్రేమ భయపడుతున్నాయి జీవితం భయం ఉంది, మరియు జీవితం భయం వారికి ఇప్పటికే మూడు ఉన్నాయిచనిపోయిన భాగాలు.
		-- Bertrand Russell

%
మొత్తం అపరిచితుల చాలా, ప్రేమ అవసరం; మరియు నేను చాలా కంటే స్ట్రేంజర్ ఉన్నాను.
		-- Bertrand Russell

%
నిజమైన ఆనందాన్ని మాత్రమే నిజమైన ప్రేమలో కనిపిస్తారు.
		-- Bertrand Russell

%
తదుపరి వారం గడువు ఒత్తిడి. మీరు ఏదో కావాలా, అది వేచి చేయవచ్చు.ఇది గుడ్డి విసరడం paroxysmally ఆనందానికి తప్ప ...
		-- Bertrand Russell

%
మేము మొదటి దాడి తర్వాత వరకు కీళ్ళవాతం మరియు నిజమైన ప్రేమ నమ్మకం లేదు.
		-- Marie Ebner von Eschenbach

%
ఏం ప్రేమ గురించి చిరాకు అది ఒక భాగస్వామి అవసరం ఒక నేరం అని.
		-- Charles Baudelaire

%
సీజన్లలో ఆఫ్ త్రాగటానికి మరియు ఖండించి మీ జీవితం ఒక ఆకు ఉన్నప్పుడువారు ఒక మూల వంటి సొగసైన మరియు ఆకుపచ్చ అని ప్రేమతో కట్టుబడి ఉంటుంది.
		-- Leonard Cohen, "Sisters of Mercy"

%
ఎందుకు నేను మీతో బయటకు వెళ్ళి కాదు:నేను లవ్, కానీ ఇష్టం ...- నా పిల్లి ముడిపెట్టు ఉంటుంది.- నేను లింగినీ నా జీవితాన్ని అంకితం చేసిన.- నా బ్లెండర్ తో ఎక్కువ సమయం ఖర్చు అవసరం.- ఇతర అందమైన వ్యక్తుల ఫెయిర్ కాదు.- ఇది కుక్క / ఫెర్రేట్ / గోల్డ్ ఫిష్ పెంపుడు నా రాత్రి.- నేను కొన్ని చేతి తొడుగులు న ప్రయత్నించండి డౌన్టౌన్ వెళుతున్న.- నా పాల ఉత్పత్తులపై తాజాదనం తేదీలు తనిఖీ కలిగి.- నేను బన్స్ పెరగడం చూడటానికి బేకరీ డౌన్ వెళుతున్న.- నేను క్యుటికల్ నిపుణుడు అపాయింట్మెంట్ కలిగి.- నేను చూసేందుకు కొన్ని నిజంగా కష్టం పదాలు ఉంటాయి.- నేను అణకువ Rutabaga సమావేశం ఫ్రెండ్స్ పొందారు.
		-- I promised to help a friend fold road maps.

%
ఎందుకు నేను మీతో బయటకు వెళ్ళి కాదు:నేను లవ్, కానీ ఇష్టం ...- నేను నా "ఆక్రమణదారు" అక్షరాలు అన్ని సమాధానం కలిగి.- నా సాక్స్ మ్యాచ్ ఏమీలేదు.- నేను నా మొక్కలు రూపుమాపాడు కలిగి చేస్తున్నాను.- నా తలుపు మీద లాక్ మారింది మరియు ఇప్పుడు నేను బయటకు పొందలేము.- నా యుక్కా మొక్క yucky భావనలు.- నేను ఒక wok బృందంతో చైనా పర్యటనకు వస్తున్న వెబ్.- నా చాక్లెట్-ప్రశంసలు తరగతి ఆ రాత్రి కలుస్తుంది.- నేను ఒక విదేశీ మార్పిడి విద్యార్ధి తో యుగోస్లేవియా ఆఫ్ నడుస్తున్న నేనుబాసిల్ జీవప్రక్రియ అనే.- గురించి చింతిస్తూ అవసరమైన ముఖ్యమైన ప్రపంచ సమస్యలు ఉన్నాయి.- నా టూత్ బ్రష్ లో వెంట్రుకల లెక్కించడానికి వెళుతున్న.- నేను ఒక ఎనిగ్మా ఉండటానికి ఇష్టపడతారు.- నేను మీరు ఇతర పెగ్గి / కాథీ / మైక్ / ఎవరిని కావలసిన భావిస్తున్నాను.
		-- I feel a song coming on.

%
ఎందుకు నేను మీతో బయటకు వెళ్ళి కాదు:నేను లవ్, కానీ ఇష్టం ...- నేను ఒక కళ స్కాలర్షిప్ "షాన్" డ్రా కలిగి.- నేను ఒక అనారోగ్య చీమల తో కూర్చుని ఉంటుంది.- నేను తక్కువ ప్రజాదరణ ఉంటుంది ప్రయత్నిస్తున్న వెబ్.- నా బాత్రూమ్ టైల్స్ Grouting అవసరం.- నేను ఇప్పటికే ఒక విజేత ఉన్నాను ఉంటే చూడటానికి వేచియున్నాను.- నా ఉపచేతన గీస్తుంటాడు.- నేను "చాలా భూముల గ్లూ" అనే పుస్తకం కైవసం చేసుకుంది మరియు నేనుఅది అణిచివేసేందుకు అనిపించవచ్చు కాదు.- నా అభిమాన వాణిజ్య టీవీలో అందుబాటులో ఉంది.- నా రక్త పరీక్ష కోసం అధ్యయనం కలిగి.- నేను సిన్సినాటి వర్తకం చేసిన.- నా శిశువు బూట్లు కాంస్య కలిగి చేస్తున్నాను.
		-- I have to go to court for kitty littering.

%
ఎందుకు నేను మీతో బయటకు వెళ్ళి కాదు:నేను లవ్, కానీ ఇష్టం ...- నేను అవును అంటున్నారు లేకుండా వెళ్ళే ఎంత చూడటానికి దీనికై.- నా గ్యారేజ్ డోర్ ప్రారంభ హాజరు చేస్తున్నాను.- రాక్షసులు ఇంకా నీలం మారిన లేదు, మరియు నేను మరింత చుక్కలు తినడానికి ఉంటుంది.- నేను గ్రెగోరియన్ మరియు జూలియన్ నుండి నా క్యాలెండర్ వాచ్ మార్చే వెబ్.- నా సంభావ్య పూర్తి ఉంటుంది.- నా కంఫర్ట్ జోన్ వదిలి వద్దు.- ఇది శతాబ్దానికి చాలా దగ్గరలో.- నా హరే పాలిపోయినట్లు ఉంటుంది.- నా నిలువు పట్టు నాబ్ గురించి దిగులు నేను.
		-- I left my body in my other clothes.

%
ఎందుకు నేను మీతో బయటకు వెళ్ళి కాదు:నేను లవ్, కానీ ఇష్టం ...- నేను అణకువ Rutabaga సమావేశం ఫ్రెండ్స్ పొందారు.- నేను ఒక స్నేహితుడు రహదారి పటాలు భాగాల్లో సహాయం వాగ్దానం.- నేను ఒక కర్మ మార్పిడి కావాల్సి చేసిన.- నా కాటేజ్ చీజ్ శిల్పాలపై పని ఇంటి ఉంటున్న వెబ్.- ఇది నా చిలక బౌలింగ్లో రాత్రి.- నేను ఒక కిట్ నుండి ఒక మొక్క చేస్తున్నాను.- ఫోర్స్ ఒక భంగం ఉంది.- నేను డోర్ టు డోర్ స్టాటిక్ పట్టుకొని వేళ్ళాడతాయి సేకరించడం చేస్తున్నాను.- నేను yodel నా ఫెర్రేట్ బోధన చేస్తున్నాను.
		-- My crayons all melted together.

%
"ఎందుకు మీరు నాకు అన్ని మీ రహస్యాలు చెప్పండి తప్పక అది ప్రేమ తగినంత హార్డ్ ఉన్నప్పుడుమీరు ఏమీ తెలుసుకోవడం? "
		-- Lloyd Cole and the Commotions

%
ప్రేమ లేకుండా మేధస్సు ప్రమాదకరంగా;నిఘా ప్రేమ లేకుండా సరిపోదు.
		-- Ashley Montagu

%
ఈ ఒక గొప్ప ప్రపంచ ఉండదు అసురక్షిత మరియు నిరాశగా ఉన్నట్లు ఒక మలుపు ఉండేవి?
		-- "Broadcast News"

%
అవును, డబ్బు కంటే జీవితంలో మరింత ముఖ్యమైన విషయాలు ఉన్నాయి, కానీ అవి తీసుకోనుమీరు ఏ ఉంటే మీతో బయటకు లేదు.
		-- "Broadcast News"

%
మీరు మీ ఎముకలు మరియు మీ మాంసాన్ని మీ ప్రేమ చెల్లించాల్సిన అవసరం లేదు.
		-- Pat Benatar, "Hell is for Children"

%
