డెబియన్ సూచన # 44: మీరు డెబియన్ కోసం Identi.ca ఖాతా అనుసరించండిIdentica వద్ద డెబియన్ యొక్క http://identi.ca/debian మరింత సమాచారం కూడా చెయ్యవచ్చుhttp://wiki.debian.org/Teams/Publicity/Identica: వద్ద చూడవచ్చుడెబియన్ సూచన # 1: మీరు 'reportbug' ఆదేశంతో ప్యాకేజిని ఒక బగ్ రిపోర్ట్,ఇది reportbug ప్యాకేజీ అందుబాటులో గాని కమాండ్ లైన్ నుండి లేదాకొత్త గ్రాఫికల్ ఫ్రంటెండ్ (అందుబాటులో నడుపుతున్న లో లేదా '--ui gtk2 reportbug'మెను).

%
డెబియన్ సూచన # 2: మీరు మార్చడానికి 'dpkg-పునరాకృతి <package>' ఉపయోగించవచ్చుమీరు మొదటి ఒక ప్యాకేజీ ఇన్స్టాల్ చేసినప్పుడు మీరు ప్రశ్నలు ఇచ్చిన సమాధానాలు కోరారు.'ఆకృతీకరణ-డెబియన్ ప్యాకేజీ ఈ చేయడం కోసం ఒక ఏకీకృత ఫ్రంట్ ఎండ్ అందిస్తుంది,అలాగే.

%
డెబియన్ సూచన # 3: మీరు గాని 'వర్ణనాత్మక-కాష్ శోధన <పదాలు>' లేదా'ఆప్టిట్యూడ్ శోధన <పదాలు>' అన్ని వర్ణనలు పదాలు శోధించడానికిఅందుబాటులో ప్యాకేజెస.

%
డెబియన్ సూచన # 4: మీరు ఒక కోసం అందుబాటులో మరియు ఇన్స్టాల్ వెర్షన్లు చూడగలరులేదా కమాండ్ 'వర్ణనాత్మక-కాష్ విధానం <ప్యాకేజెస>' మరింత అందుబాటులో ప్యాకేజెస.

%
డెబియన్ సూచన # 5: మీరు కస్టమ్ కెర్నల్ నిర్మించడానికి అవసరం ఉంటే, 'తయారు- kpkg' ఉపయోగించడానికిస్క్రిప్ట్ కెర్నల్-ప్యాకేజీ ప్యాకేజీ దొరకలేదు.

%
డెబియన్ సూచన # 6: ఏ సూచనను # 6 ఉంది. నేడు ఒక సూచనను సమర్పించండి!

%
డెబియన్ సూచన # 7: మీరు ఆటోమేటిక్ రాత్రిపూట చేయాలని క్రాన్-వర్ణనాత్మక ప్యాకేజీ ఉపయోగించవచ్చుమీ సిస్టమ్లో ఇన్స్టాల్ చేయబడిన ప్యాకేజీల కోసం నవీకరణలను డౌన్లోడ్.

%
డెబియన్ సూచన # 8: మీరు డెబియన్ సమస్యలు ఉంటే మిమ్మల్ని పరిష్కరించడానికి కాదనిమాన్యువల్లు మరియు డాక్యుమెంటేషన్ చదవడం, న డెబియన్ వినియోగదారులు అడుగుతూ ప్రయత్నించండిమెయిలింగ్ జాబితా (debian-user@lists.debian.org).

%
డెబియన్ సూచన # 9: మీరు ప్రస్తుతం ఉన్నాము డెబియన్ యొక్క ఏ వెర్షన్ తెలుసుకోవాలి ఉంటేనడుస్తున్న, / etc / debian_version లో చూడండి లేదా 'lsb_release -sc' ఆదేశాన్ని ఉపయోగించండి. ఒకవేళ నువ్వు(ఆ వెర్షన్ కోసం కోడ్నేమ్ ఉదాహరణకు తెలుసుకోవాలంటే, 5.0 సంకేతపదంతో ఉంది'లెన్నీ'), ఈ URL తనిఖీhttp://www.debian.org/doc/FAQ/ch-ftparchives.html#s-codenames

%
డెబియన్ సూచన # 10: వినియోగదారు నుండి ప్రతిదీ కోసం డెబియన్ మెయిలింగ్ జాబితాలు ఉన్నాయిడెబియన్ విధానం పత్రాలు లోకి ఉంచాలి ఏమి చర్చలు ప్రశ్నలు.http://www.debian.org/MailingLists/ వద్ద జాబితాను తనిఖీ మరియు చందామీకు ఇష్టము ఆ.

%
డెబియన్ సూచన # 11: ఏం జరగబోతోంది తాజాగా ఉంచండి - డెబియన్ చదవండిప్రాజెక్టు న్యూస్. http://www.debian.org/News/weekly/ వెబ్లో ఇది చదవండి

%
డెబియన్ సూచన # 12: grep-dctrl ప్యాకేజీ ఉపయోగకరమైన స్క్రిప్ట్స్ అందిస్తుందిత్వరగా ఇటువంటి అందుబాటులో (వివిధ ప్యాకేజీ కంట్రోల్ ఫైళ్లు శోధనకుప్యాకేజీలు దాఖలు).

%
డెబియన్ సూచన # 13: మీరు డెబియన్ లో ఉపయోగించే డిఫాల్ట్ ఎంపికలు నచ్చకపోతేప్యాకేజీ, మీరు సోర్స్ డౌన్లోడ్ మరియు ఉపయోగించే ఒక వెర్షన్ నిర్మించవచ్చుమీరు ఇష్టపడతారు ఎంపికలు. http://www.debian.org/doc/FAQ/ch-pkg_basics.html చూడండి(విభాగాలు 6.13 మరియు 6.14) మరింత సమాచారం కోసం.అయితే, మనస్సు లో బేర్ అత్యంత ప్యాకేజెస చాలా ఎంపికలు అమర్చవచ్చురన్టైమ్ వద్ద, మరియు ప్యాకేజీ recompiling అవసరం లేదు.

%
డెబియన్ సూచన # 14: మీరు ప్యాకేజీ జరుగుతున్న విషయాలు అనుసరించండి చెయ్యాలనుకుంటే(ఉదాహరణకు, మీరు బగ్ నివేదికలు చూడండి, నోటీసులు విడుదల అనుకుంటే మరియు ఇతర కోసంఇలాంటి విషయాలు), ప్యాకేజీ ట్రాకింగ్ వ్యవస్థ మీద చేరడంలో భావిస్తారు.మీరు వద్ద పాయింట్లు గురించి మరింత తెలుసుకోవచ్చు:http://www.debian.org/doc/manuals/developers-reference/resources.html#pkg-tracking-system

%
డెబియన్ సూచన # 15: ఒక ప్యాకేజీ కొరకు పత్రరచన సాధారణంగా చూడవచ్చుకింద / usr / share / doc / <package>. ముఖ్యంగా, README.Debian తరచూ దాఖలుడెబియన్-నిర్దిష్ట అసాధరణ లేదా చిట్కాలు గురించి ఉపయోగకరమైన సమాచారాన్ని కలిగి ఉంది.

%
డెబియన్ సూచన # 16: మీరు ఒక నిర్దిష్ట ఫైల్ కోసం శోధించడం ఉంటే, కానీ తెలియదుపాకేజీ అది ఒక కొనసాగించబడుతుంది, 'వర్ణనాత్మక-file' ఇన్స్టాల్ ప్రయత్నించండి చెందినఈ సమాచారాన్ని చిన్న డేటాబేస్, లేదా డెబియన్ యొక్క కంటెంట్లను శోధించండివద్ద చేయవచ్చు డేటాబేస్, పాకేజీలు:http://www.debian.org/distrib/packages#search_contents

%
డెబియన్ సూచన # 17: డెబియన్ గురించి మాట్లాడటానికి ఎవరో కావాలా? మీరు సౌకర్యవంతమైన అయితేఇంటర్నెట్ రిలే చాట్ (IRC) తో, మీ ఇష్టమైన IRC క్లయింట్ ఇన్స్టాల్, మరియుirc.debian.org న #debian చేరండి.

%
డెబియన్ సూచన # 18: ప్యాకేజీ గురించి క్వాలిటీ నియంత్రణ సమాచారం చూడవచ్చు<Package> http://packages.qa.debian.org/~~V వెళ్ళడం ద్వారా; ఈ పేజీ అందిస్తుందిసంరక్షకుడు యొక్క QA పేజీకి లింకులు, BTS, ప్యాకేజీ కోసం వార్తలు అంశాలను, మరియుఇది సమాచారాన్ని వెర్షన్లు ఆర్కైవ్ అందుబాటులో ఉన్నాయి.

%
డెబియన్ సూచన # 19: మీరు సోర్స్ నుండి భవనం ప్యాకేజెస ఆసక్తి ఉంటే, మీరువర్ణనాత్మక-మూలం ప్యాకేజీ ఇన్స్టాల్ పరిగణించాలి.

%
డెబియన్ సూచన # 20: మీరు కలిగి ఒక ప్యాకేజీ యొక్క ఏ వెర్షన్ ట్రాక్ చెయ్యాలనుకుంటున్నారాహైబ్రిడ్ స్థిరంగా / పరీక్ష నడుస్తున్న వారికి ఇన్స్టాల్ (ముఖ్యంగా ఉపయోగకరమైన /అస్థిర వ్యవస్థలు)? వర్ణనాత్మక-షో-వెర్షన్లు చూడండి.

%
డెబియన్ సూచన # 21: మీ డెబియన్ బాక్స్ నెమ్మదిగా నెట్వర్క్ కనెక్షన్ వెనుక ఉంటే,కానీ మీరు, అలాగే వేగంగా ఒక యాక్సెస్ వర్ణనాత్మక-జిప్ ప్యాకేజీ తనిఖీ.

%
డెబియన్ సూచన # 22: ఇది డెబియన్ అద్దంలో ఆశ్చర్యపోతున్నారా మీరు కోసం ఉత్తమ ఉంది? తనిఖీమీరు సమాచారాన్ని ఇస్తుంది వర్ణనాత్మక-గూఢచారి మరియు netselect-వర్ణనాత్మక ప్యాకేజెస,ఎలా వివిధ మిర్రర్ సైట్లు నిర్వహించడానికి గురించి.

%
డెబియన్ సూచన # 23: మీ సిస్టమ్ చాలా డిస్క్ స్థలం ఉపయోగించి ఉంటే, ప్రయత్నించండిప్యాకేజీ deborphan; ప్యాకేజీలు కావచ్చు గురించి సలహాలను అందిస్తారుఉపయోగించని మరియు తొలగించగల. మరియు, కోర్సు యొక్క, బయటకు శుభ్రం చేయడానికి మర్చిపోతే లేదుఆప్ట్ కాష్ ప్రాంతంలో ( 'క్లీన్ వర్ణనాత్మక-పొందుటకు' 'ఆప్టిట్యూడ్ క్లీన్' ఉపయోగించి, లేదాఆప్టిట్యూడ్ యాక్షన్ -> క్లీన్ ప్యాకేజీ కాష్ మెను ఐటెమ్).

%
డెబియన్ సూచన # 24: మీరు ఒక నిర్వహించడానికి ఒక సంరక్షకునికి ధన్యవాదాలు కోరుకుంటారు ఉంటేసమస్య, reportbug --kudos తనిఖీ.

%
డెబియన్ సూచన # 25: 'డెబియన్ నిర్దేశించగల' ప్యాకేజీ అనేక రకాల కలిగిడెబియన్ యూజర్లు మరియు డెవలపర్లకు సూచన పత్రాలు. ఏక్కువగాసమాచారం కూడా కింది URL లో చూడవచ్చు:http://www.debian.org/doc/manuals/reference

%
డెబియన్ సూచన # 26: ఒక ప్యాకేజీ చాలా కలిగిడాక్యుమెంటేషన్ కనిపించడం లేదు ఉంటే,ఒక ప్యాకేజీ పేరుతో '<package> -doc' లేదా ఇలాంటి తనిఖీ మరియు నిర్ధారించుకోండిఅలాగే అది ఇన్స్టాల్; డాక్యుమెంటేషన్ యొక్క పెద్ద మొత్తంలో ప్యాకేజీలుక్రమం తప్పకుండా వద్దు వారికి ఈ పద్ధతిలో డాక్స్ విభజించబడిందివాటిని ఇన్స్టాల్.

%
డెబియన్ సూచన # 27: రోజూ మీ బ్యాకప్ ధ్రువీకరించడం. మీరు * బ్యాకప్ ఉంచడం ఉన్నాయి *కుడి? కుడి? లేకపోతే, తారు ప్రారంభం (1) లేదా డంప్ (1).

%
డెబియన్ సూచన # 28: మీ యంత్రం (ఒక వంటి సమయం అన్ని లేకపోతేల్యాప్టాప్), 'anacron' ప్యాకేజీ తనిఖీ; ఈ సాధారణ నిర్ధారించుకోండి ఉంటుందిపనులు ఇప్పటికీ జరిగే యంత్రం వారు సమయంలో కాక పోయినప్పటికీసాధారణంగా ట్రిగ్గర్.

%
డెబియన్ సూచన # 29: మీ సిస్టమ్ గడియారం కచ్చితమైన ఉంచండి - ఆన్ ఇవి యంత్రాలుఅధికభాగం లేదా సమయం అన్ని సమయం ఉంచాలని ఇన్స్టాల్ NTP 'ప్యాకేజీ కలిగి ఉండాలిపునఃప్రారంభమగుటకు మధ్య ఖచ్చితమైన.

%
డెబియన్ సూచన # 30: డాక్యుమెంటేషన్ Http వద్ద అందుబాటులో తయారు చేయవచ్చు: // localhost /'డిఓసి బేస్' మరియు 'డిఓసి-కేంద్ర' ప్యాకేజీలు మరియు వ్యవస్థాపించడం ద్వారా వారిఆధారపడటం.

%
డెబియన్ సూచన # 31: ఒక నిర్దిష్ట వినియోగ స్థాయి లో ఒక సాధారణంగా చురుకుగా సర్వీసు డిసేబుల్ఒక K లింకును /etc/rc<level>.d ఎస్ లింక్ మారుతున్న చేయాలి,అయితే పూర్తిగా ఈ లింక్ తొలగించిన కంటే; అన్ని లింకులు తొలగిస్తే,వ్యవస్థ వారు భర్తీ చేయాలి ఇన్స్టాల్ మరునాడు భావించవలసి ఉంటుంది.

%
డెబియన్ సూచన # 32: ప్యాకేజీ 'డిఓసి-డెబియన్' కొన్ని సాధారణ కలిగిడెబియన్ ప్రాజెక్ట్ గురించి డాక్యుమెంటేషన్. ఇది స్పానిష్ లో కూడా అందుబాటులో ఉంది(డిఓసి-డెబియన్-ఎస్), ఫ్రెంచ్ (డిఓసి-డెబియన్-FR) మరియు ఉక్రేనియన్ (డిఓసి-డెబియన్-UK).

%
డెబియన్ సూచన # 33: ప్యాకేజీ 'devscripts కోసం కొన్ని ఉపయోగకరమైన స్క్రిప్ట్స్ కలిగికావలసిన వారికి డెబియన్ మెరుగుపరచడానికి, ఉదా సహాయం wnpp-అప్రమత్తత, rc-హెచ్చరిక మరియు BTS.

%
డెబియన్ సూచన # 34: మీరు డెబియన్ సిడ్ ట్రాక్ కావలసిన మరియు ఒక చిన్న డౌన్లోడ్ ఉంటేకోటా లేదా చాల నెమ్మదిగా కనెక్షన్, debdelta ప్యాకేజీ తనిఖీ.

%
డెబియన్ సూచన # 35: కొన్ని గేమ్స్ కోసం శోధన? టేక్, వద్ద goplay 'ఎ లుక్ ఇదిఆటలు అన్ని రకాల ద్వారా బ్రౌజింగ్ కోసం ఒక nice ఫ్రంటెండ్ అందిస్తుంది.

%
డెబియన్ సూచన # 36: డెబియన్ గత తీసుకెళతారు కంటే కొత్త ప్యాకేజీ అవసరంస్థిరమైన విడుదల కాని 'పరీక్ష' లేదా 'అస్థిర' అప్గ్రేడ్ వద్దు? కొన్నిప్యాకేజీలు స్థిరంగా నవీకరణలను సూట్ ద్వారా నవీనమైన ఉంచబడ్డాయి, కొన్ని ఇతరులుbackports.debian.org అందుబాటులోకి తెచ్చారు.

%
డెబియన్ సూచన # 37: అది ఇన్స్టాల్ లేకుండా ప్యాకేజీ డౌన్లోడ్ చెయ్యాలనుకుంటున్నారా? యూజ్'ఆప్టిట్యూడ్ డౌన్లోడ్ <pkgname>'.

%
డెబియన్ సూచన # 38: మీరు వాడలేదు మీరు ఒక కార్యక్రమం ఉపయోగించవచ్చు ఎలా తెలుసుకోవాలంటేముందు? "మనిషి" మీ ఉత్తమ స్నేహితుడు ఉంటుంది! రకం "మనిషి <కార్యక్రమం పేరు>" ఒక లోషెల్. లేదా, అమలు "మనిషి -h <కార్యక్రమం పేరు>" ఒక బ్రౌజర్ లో మాన్యువల్ పేజీ చదవడానికి.

%
డెబియన్ సూచన # 39: వ్యవస్థాపించడం ద్వారా బాష్ యొక్క టాబ్ పూర్తి మెరుగుపరచండిబాష్ పూర్తి ప్యాకేజీ.

%
డెబియన్ సూచన # 40: మీరు ప్రయత్నిస్తున్నప్పుడు, ఆదేశ దొరకలేదు ప్యాకేజీ ఇన్స్టాల్ చేస్తేమీరు ఇన్స్టాల్ చేశారు లేదు ఏమి ప్యాకేజీ ఇన్స్టాల్ ఇత్సెల్ఫ్ ఒక ఆదేశాన్నిఆ ఆదేశం పొందటానికి.

%
డెబియన్ సూచన # 41: 'వర్ణనాత్మక-cache షో <ప్యాకేజీకి>' మీరు ఉపయోగించవచ్చు లేక 'ఆప్టిట్యూడ్ షో<ప్యాకేజీకి> 'ఒక డెబియన్ ప్యాకేజీ గురించి మరింత సమాచారం పొందడానికి.

%
డెబియన్ సూచన # 42: మీరు 'వర్ణనాత్మక-ఫైలు జాబితా <ప్యాకేజీకి>' ఒక లిస్టింగ్ పొందటానికి ఉపయోగించవచ్చుడెబియన్ ప్యాకేజీ యొక్క విషయాల. ఈ చర్య పోలి ఉంటుంది'Dpkg -L <ప్యాకేజీకి>' మినహా ప్యాకేజీ ఇన్స్టాల్ అవసరం లేదు లేదాdpkg విరుద్ధంగా వర్ణనాత్మక ఫైల్ ఉపయోగించి తీసుకుని.

%
డెబియన్ సూచన # 43: తాత్కాలికంగా మీ iptables ఫైర్వాల్ డిసేబుల్ చేయాలనుకుంటున్నారా? యూజ్'Iptables భద్రం | కానీ "/ - / డి / ^ # / డి లు / డ్రాప్ / అంగీకరించు /" | iptables-పునరుద్ధరించడానికి 'తొలగించటానికిఅన్ని నియమాలు మరియు అంగీకరించు డిఫాల్ట్ విధానాన్ని సెట్.

%
