ఒక తలుపు ఒక కుక్క యొక్క తప్పు వైపు నిరంతరం ఇంతే.
		-- Ogden Nash

%
ఒక చిన్న కుక్క వైల్డ్ వెస్ట్ లో ఒక సెలూన్ లోకి వెళ్ళిపోతుంది, మరియు beckonsబార్టెండర్. "హే, బార్టెండర్, ఒక విస్కీ గిమ్మే."బార్టెండర్ అతనికి పట్టించుకోదు."హే మద్యం ఒక విస్కీ గిమ్మే!"ఇప్పటికీ పట్టించుకోలేదు."బర్మన్ హే !! గిమ్మే ఒక విస్కీ !!"బార్టెండర్ తన సిక్స్-షూటర్ తీస్తాడు మరియు కుక్క కాలుస్తాడులెగ్, మరియు కుక్క సెలూన్, నొప్పి ఉంటే అస్సలు ఊళ నడుస్తుంది.మూడు సంవత్సరాల తరువాత, వీ కుక్క మళ్ళీ కనిపిస్తుంది, బూట్లు ధరించి,జీన్స్, చాప్స్, ఒక రకపు టోపి తుపాకీ బెల్ట్, మరియు గన్స్. అతను నెమ్మదిగా నడుస్తుందిసెలూన్, పట్టీ వరకు వెళ్తాడు పైగా ఇస్తుంది, మరియు బార్ సహాయకుడిగా చెప్పారు,"నేను ఇక్కడ MUH పంజా చిత్రీకరించిన ఆ మనిషి t'git చేస్తున్నాను."
		-- Ogden Nash

%
ఒక సులభమైన సమయం కలిగి ఒక పొలం మాత్రమే విషయం గురించి కుక్క.
		-- Ogden Nash

%
అన్ని తెలివైన జాతుల పిల్లులు స్వంతం.
		-- Ogden Nash

%
పరిచయం చేశారు లేదా దీనివల్ల ఏ సభ్యుడు సొసైటీ లోకి ఒక కుక్క ప్రవేశపెట్టనున్నప్రాంగణంలో కోశాధికారి కాటు £ 5 జరిమానా బాధ్యులు ఉండాలి. ఏ జంతువుఒక గుడ్డి వ్యక్తి ప్రముఖ పిల్లి ఇవ్వదు. ఏదైనా జంతువుపై ఎంటర్పోలీస్ వ్యాపార ఒక ఓమ్బ్యాట్ భావించడం నిర్ణయించబడతాయి.
		-- Rule 51, Oxford Union Society

%
ప్రోటోకాల్ అప్రస్తుతం భావించింది ఎవరైనా ఒక పిల్లి నిర్వహించాయి ఎన్నడూ.
		-- R. Heinlein

%
"ఏదైనా మీరు నా దృష్టిని, మిస్టర్ హోమ్స్ డ్రా అనుకుంటున్నారా?""రాత్రిపూట స్థిరంగా కుక్క ఆసక్తికరమైన సంఘటన.""కానీ కుక్క రాత్రిపూట లో ఏమీ చేయలేకపోయాడు.""ఆ ఆసక్తికరమైన సంఘటన."
		-- A. Conan Doyle, "Silver Blaze"

%
Auribus teneo టోకు.[నేను చెవులు ఒక తోడేలు నొక్కి.][బాయ్, అది * * మంచిదనిపించింది. కానీ అది * అర్థం ఏమిటి *?]
		-- A. Conan Doyle, "Silver Blaze"

%
కుందేళ్ళు సంతానోత్పత్తి ఒక కుందేలు పెంపకం అనుభవం.
		-- A. Conan Doyle, "Silver Blaze"

%
పిల్లులు ప్రకృతిలో ప్రతిదీ ఒక ఫంక్షన్ ఉంది అని మాకు నేర్పిన ఉద్దేశించిన.
		-- Garrison Keillor

%
పిల్లులు తెలివిగా కుక్కలు కంటే. మీరు ఎనిమిది పిల్లులు ద్వారా స్లెడ్ ​​లాగండి చేయలేరుమంచు.
		-- Garrison Keillor

%
పిల్లులు, వారి షాడో కంటే తక్కువ ద్రవ, వాయు ఎటువంటి కోణాలు.
		-- Garrison Keillor

%
చువావాలు నాకు వెర్రి డ్రైవ్. నేను వెచ్చని ఉన్నప్పుడు shivers ఏదైనా అనుకూలించదు.
		-- Garrison Keillor

%
"ప్రజాదరణ పొందిన నమ్మకానికి విరుద్ధంగా, పెంగ్విన్లు ఆధునిక మోక్షం కాదుసాంకేతిక. ఏ వారు పట్టణ శ్రామిక వర్గంలోకి కోసం పార్టీలు త్రో లేదు. "
		-- Garrison Keillor

%
మీరు ఎప్పుడైనా ఒక గదిలోకి నడిచి మరియు మీరు వెళ్ళిపోయాడు ఎందుకు మర్చిపోయారా? నేనుకుక్కలు తమ జీవితాలను గడపడం ఎలా.
		-- Sue Murphy

%
పేరు పావ్లోవ్ ఒక గంట మోగించిన లేదు?
		-- Sue Murphy

%
డాగ్స్ కేవలం ముఖ్యం ప్రజల మధ్య వ్యత్యాసం చెప్పడం చేయగలరు కనిపించడం లేదుమరియు మాకు మిగిలిన.
		-- Sue Murphy

%
అందరూ * * తెలుసు పిల్లులు ఉనికి యొక్క ఒక ఉన్నత స్థాయిలో ఉన్నాయి. ఈ వెర్రి మానవులుకేవలం పెద్ద తలల వారి న్యూనతను అంగీకరించాలి ఉన్నాయి.జస్ట్ నియంత్రణలోని ఉంటే ఒక NICER ప్రపంచ ఈ ఉంటుంది ఏమనుకుంటున్నారోపిల్లులు.మీరు వ్యర్థపదార్థాల సమస్యలు పిల్లులు చూడండి కాదు.వారు చక్కగా ఉన్నారు.అవి లైంగిక hangups లేదు. ఒక పిల్లి ఇది చేస్తుంది ఏదో horny గెట్స్దాని గురించి.వారు సహేతుకమైన గంటల ఉంచండి. మీరు * ఎప్పుడూ * ఒక పిల్లి మధ్యాహ్నం ముందు చూడండి.వారు విశ్రాంతిని ఎలా పొందాలో తెలుసు. ఎవర్ పుండుగా ఒక పిల్లి యొక్క విన్న?ఒక అణు యుద్ధం మొదలైంది పిల్లి అవకాశాలు ఏమిటి? ప్రెట్టీ neglible.ఇది వారు కేవలం చాలా మంచి విషయాలు ఉన్నాయి అని తెలుసు కాదు అని కాదువాటిని సమయం తో. సూర్యుడు మరియు నిద్ర అబద్ధం ఇష్టం. లేదా ప్రపంచాన్ని అన్వేషించి వెళ్ళండి.
		-- Sue Murphy

%
ఒక మనిషి నిజంగా తిరస్కరణ అర్థం కోసం, అతను మొదటి ఒక పిల్లి నిర్లక్ష్యానికి చేయాలి.
		-- Sue Murphy

%
హాయ్! మీరు 555-0129 చేరుకున్నారు. మాకు ఎవరూ ఫోన్ సమాధానం ఇక్కడ ఉన్నారు మరియుతన సందేశాలను అస్పష్టంగా ఉన్నాయి కాబట్టి పిల్లి వ్యతిరేకిస్తున్న బ్రొటనవేళ్లు లేదు. దయచేసిబీప్ తర్వాత మీ పేరు మరియు సందేశం వదిలి ...
		-- Sue Murphy

%
నేను కుక్కలు ఉంచడానికి వారికి ఇష్టం లేకపోయింది. వారు దమ్మున్న వచ్చింది లేదు ఎవరు పిరికితనం ఉన్నాయిప్రజలు తమను తాము కాటు.
		-- August Strindberg

%
నేను కుక్కలు ప్రేమ, కానీ నేను చువావాలు ద్వేషం. చువావా కుక్క కాదు. ఇది ఒక ఎలుక వార్తలుథైరాయిడ్ సమస్య తో.
		-- August Strindberg

%
ఇది $ 2.50 ఖర్చు చేస్తాను డాగ్ డాలర్, 38 సెంట్లు ఖర్చు ALPO యొక్క చెయ్యవచ్చు ఉంటే?
		-- August Strindberg

%
ఎవరైనా నా కుక్క చూసింది ఉంటే, వీలైనంత త్వరగా x2883 వద్ద నన్ను సంప్రదించడానికి దయచేసి.మేము గణనీయమైన బహుమతులు అందించడం చేస్తున్నారు. అతను మూడు కాళ్లతో ఒక సాబుల్గా కోలి వార్తలు,తన ఎడమ కన్ను గుడ్డి, అతని కుడి చెవి యొక్క భాగం మరియు కొన లేదు తనతోక. అతను ఇటీవల పరిష్కరించబడింది చేయబడింది. "లక్కీ" సమాధానాలు.
		-- August Strindberg

%
మీరు ఒక పోలీసు కుక్క ఉంటే, ఇక్కడ మీ బ్యాడ్జ్ వార్తలు?వెర్రి.
		-- Question James Thurber used to drive his German Shepherd

%
కొద్దిగా పోర్: "మీరు మీ కుక్క చెడు శ్వాస కలిగి అనుకుంటున్నారా లేకపోతే, నేను ఏమి చెయ్యాలోLavoris టాయిలెట్ లో. "
		-- Jay Leno

%
మీరు ఒక ప్రతిష్ఠాపన ప్రసంగించేందుకు మిమ్మల్ని ఆహ్వానిస్తూ ఒక లేఖ అందింది ఉంటేకొత్త పిల్లి ఆసుపత్రి, మరియు మీరు, పిల్లులు, మీ సమాధానం ద్వేషం ఆహ్వానాన్ని తిరస్కరించడంతప్పనిసరిగా మీ భావోద్వేగాలు పూర్తి పరిధిని కవర్ చేయడానికి లేదు. నువ్వు కచ్చితంగాఇది స్పష్టమైన మీరు హాజరు కాదని, అయితే మీరు పిల్లులు వద్ద ఫ్లై వీలు లేదు.లేఖ రచయిత ఒక పౌర ప్రశ్న అడిగిన; దాడి పిల్లులు, అప్పుడు మాత్రమే ఉంటేమీరు మంచి హాస్యం, మంచి రుచి తో అలా, మరియు మీ సమాధానం విధంగా చేయవచ్చుమర్యాదపూర్వకమైన అలాగే బాధ్యతాయుతంగా ఉంటుంది. మీతో సానుభూతి ముగిసింది నుండిపిల్లులు, మీరు చాలా సరిగ్గా ఈ కనిపించే లేదు ఒక కారణమని ఇస్తాయనిఒక పిల్లి ఆసుపత్రిలో ప్రతిష్ఠాపన వేడుకలు. కానీ మీ అభిప్రాయం మనస్సు లో బేర్పిల్లులు ఒక స్పీకర్గా కోరుకోలేదని, మీ సేవలు ఇచ్చింది. విషయాలు ఉంచడానికి ప్రయత్నించండినేరుగా.
		-- Strunk and White, "The Elements of Style"

%
నా కుక్క దృష్టిలో, నేను ఒక మనిషి ఉన్నాను.
		-- Martin Mull

%
గోల్డ్ ఫిష్ ఆత్మహత్యకు ఉన్నప్పుడు అది ఒక మంచి శకునము.
		-- Martin Mull

%
ఇది దాని ugliest పెంగ్విన్ కామం ఉంది ....
		-- Martin Mull

%
ఇది చిందిన పాలు పైగా ఏడుపు కాదు ఉపయోగం - ఇది మాత్రమే పిల్లి కోసం లవణం చేస్తుంది.
		-- Martin Mull

%
లాస్ట్: బూడిద మరియు తెలుపు పురుషుడు పిల్లి. ఎలక్ట్రిక్ కాన్ ఓపెనర్ సమాధానాలు.
		-- Martin Mull

%
ఒక పిల్లి outstubborn ప్రయత్నించండి లేదు.
		-- Lazarus Long, "Time Enough for Love"

%
ఏ జంతువు ఎప్పుడైనా భోజనాల గది ఫర్నిచర్ తప్ప జంప్ చేయాలిఖచ్చితంగా కొన్ని అతను సంభాషణ తన సొంత జరపవచ్చని.
		-- Fran Lebowitz

%
ఎవరూ ఒక అనారోగ్య గోల్డ్ ఫిష్ యొక్క యజమాని నిస్సహాయంగా ఆస్వాదించగల.
		-- Fran Lebowitz

%
PENGUINICITY !!
		-- Fran Lebowitz

%
పెంపుడు ఎలక్ట్రిక్ ఈల్స్ పెంచడం ప్రస్తుత ప్రజాదరణ చాలా పొందుతున్నాయి ఉంది.
		-- Fran Lebowitz

%
"ఆశ్రయం" మీరు మీ పిల్లి మెరుగు ప్రదేశంలో ఏమి ఒక nice పేరు.
		-- Fran Lebowitz

%
కొన్ని పుస్తకాలు, రుచి చూడటం ఇతరులు మింగిన ఉంటాయి, మరియు కొన్ని కొన్ని ఉండాలినమిలి జీర్ణం.[ఎప్పుడైనా ఒక కుక్కపిల్ల యజమాని ఎవరు ఎవరైనా అప్పటికే తెలుసు. ఎడ్.]
		-- Francis Bacon

%
కొన్నిసార్లు నేను ఉదయం వచ్చినప్పుడు, నేను చాలా విచిత్రమైన అనుభూతి. నేను భావిస్తున్నానువంటి నేను కేవలం ఒక పిల్లి కాటు పొందారు! నేను ఒక పిల్లి కాటు లేకపోతే భావిస్తానుసూర్యాస్తమయ ముందు, నేను క్రేజీ వెళ్తారో! కానీ అప్పుడు నేను ఒక లోతైన శ్వాస తీసుకోవటానికి మరియుదాని గురించి మర్చిపొండి. నిజమైన పరిపక్వత అంటారు ఏమిటి.
		-- Snoopy

%
ఒక కుక్క కొనుగోలు మాట్లాడుతూ, అమ్మకానికి అని ఒక వాచ్డాగ్ కొనుగోలు ఎప్పుడూ.అన్ని తరువాత, ప్రతి ఒక్కరూ ఒక బేరం కుక్క కరుస్తుంది ఎప్పుడూ తెలుసు!
		-- Snoopy

%
కుక్కలు మరియు పిల్లులు మధ్య తేడా వారు ఉన్నప్పుడు కుక్కలు వస్తాయి అనిఅని. పిల్లులు ఒక సందేశాన్ని తీసుకుని మరియు మీరు తిరిగి పొందుతారు.
		-- Snoopy

%
నేను పిల్లులు తో కలిగి ప్రధాన సమస్య వారు కుక్కలు తెలియకపోతే, ఉంది.
		-- Kevin Cowherd

%
అతను ఏమీ లేదు ఉన్నప్పుడు మాత్రమే సమయం ఒక కుక్క మెచ్చుకున్నారు కావాలి.
		-- C. Schulz

%
అక్కడ విశ్వంలో చాలా ఇంటెలిజెంట్ జాతులు ఉన్నాయి, మరియు వారు అన్ని పిల్లులు స్వంతం.
		-- C. Schulz

%
ఒక కుక్క కలిగి మరియు మీ స్వంత బార్కింగ్ చేయడం ఉపయోగం ఉంది.
		-- C. Schulz

%
తప్పు మానవుడు,పిల్లి జాతి గురక.
		-- Robert Byrne

%
మనిషి ఒక జంతు "విష" పిలిచినప్పుడు, అతను సాధారణంగా ప్రయత్నిస్తుంది అంటేఅతను అది చంపడానికి ప్రయత్నించినప్పుడు అతను తనకు రక్షణ.
		-- Robert Byrne

%
పొగమంచు గత రాత్రి చిన్న పిల్లి పాదాలకు వచ్చినప్పుడు, అది ఈ చిన్న వదిలినా కారు హుడ్ బురదలో పాదముద్రల.
		-- Robert Byrne

%
ఎవరు నాకు కూడా నా కుక్క ప్రేమ ప్రేమిస్తున్న.
		-- John Donne

%
ఒక రబ్బరు డక్, ఒక ఒంటరిగా ఎప్పటికీ.
		-- "The Hitchhiker's Guide to the Galaxy"

%
ఇది ఎల్లప్పుడూ మీ కుక్క చనిపోయిందని అనగా ఎందుకంటే ఈగలు వెళ్ళేటప్పుడు విచారంగా అన్నారు.
		-- Wesley T. Williams

%
